.thing-form {
    margin: 20px 0;
}

.btn-wide {
    width: 200px;
}

.btn-login {
    width: 187px;
}

.hero-unit {
    margin-bottom: 40px;
}

.marketing {
    text-align: center;
}

.marketing .fa {
    font-size: 5em;
}

.marketing .fa-bolt {
    color: #faea73;
}

.marketing .fa-globe {
    color: #5cb85c;
}

.marketing .fa-facebook {
    color: #4393b9;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.navbar-text {
    margin-left: 15px;
}